.footer__footer-content
    .random-product-container
        .random-product-container__head
            | Случайный товар
        .random-product-container__content
            .item-product
                .item-product__title-product
                    a(href="#").item-product__title-product__link
                        | The Witcher 3: Wild Hunt
                .item-product__thumbnail
                    a(href="#").item-product__thumbnail__link
                        img(src='img/cover/game-1.jpg', alt="Preview-image").item-product__thumbnail__link__img
                .item-product__description
                    .item-product__description__products-price
                        span.products-price
                            | 400 руб
                    .item-product__description__btn-block
                        a(href="#").btn.btn-blue
                            | Купить
    .footer__footer-content__main-content
        p
            | Интернет-магазин компьютерных игр ГЕЙМСМАРКЕТ - это
            | онлайн-магазин игр для геймеров, существующий на рынке уже 5 лет.
            | У нас широкий спектр лицензионных игр на компьютер, ключей для игр - для активации
            | и авторизации, а также карты оплаты (game-card, time-card, игровые валюты и т.д.),
            | коды продления и многое друго. Также здесь всегда можно узнать последние новости
            | из области онлайн-игр для PC. На сайте предоставлены самые востребованные и
            | актуальные товары MMORPG, приобретение которых здесь максимально удобно и,
            | что немаловажно, выгодно!
.footer__social-block
    ul.social-block__list.bcg-social
        li.social-block__list__item
            a(href="#").social-block__list__item__link
                i.fa.fa-facebook
        li.social-block__list__item
            a(href="#").social-block__list__item__link
                i.fa.fa-twitter
        li.social-block__list__item
            a(href="#").social-block__list__item__link
                i.fa.fa-instagram
