ul.page-nav
    li.page-nav__item
        a(href="#").page-nav__item__link
            i.fa.fa-angle-double-left
    li.page-nav__item
        a(href="#").page-nav__item__link
            | 1
    li.page-nav__item
        a(href="#").page-nav__item__link
            | 2
    li.page-nav__item
        a(href="#").page-nav__item__link
            | 3
    li.page-nav__item
        a(href="#").page-nav__item__link
            | 4
    li.page-nav__item
        a(href="#").page-nav__item__link
            | 5
    li.page-nav__item
        a(href="#").page-nav__item__link
            i.fa.fa-angle-double-right