.content-head__container
    .content-head__title-wrap
        .content-head__title-wrap__title.bcg-title
            | Новости
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.content-main__container
    .news-block.content-text
        h3.content-text__title
            | «Как живут обычные люди в Deus Ex: Mankind Divided. А не пора
            | ли событиям Deus Ex: Mankind Divided случиться в реальности?»
        img(src="img/cover/game-3.jpg", alt="Image").alignleft.img-news
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            | ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        p
            | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            | ad minim veniam, quis nostrud
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            | exercitation ullamco laboris nisi ut aliquip
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            | ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            | ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem