.content-head__container
    .content-head__title-wrap
        .content-head__title-wrap__title.bcg-title
            | Мои заказы
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.cart-product-list
    .cart-product-list__item
        .cart-product__item__product-photo
            img(src="img/cover/game-1.jpg").cart-product__item__product-photo__image
        .cart-product__item__product-name
            .cart-product__item__product-name__content
                a(href="#")
                    | The Witcher 3
        .cart-product__item__cart-date
            .cart-product__item__cart-date__content
                | 14.12.2016
        .cart-product__item__product-price
            span.product-price__value
                | 400 рублей
    .cart-product-list__item
        .cart-product__item__product-photo
            img(src="img/cover/game-2.jpg").cart-product__item__product-photo__image
        .cart-product__item__product-name
            .cart-product__item__product-name__content
                a(href="#")
                    | OverWatch
        .cart-product__item__cart-date
            .cart-product__item__cart-date__content
                | 14.12.2016
        .cart-product__item__product-price
            span.product-price__value
                | 400 рублей
    .cart-product-list__result-item
        .cart-product-list__result-item__text
            | Итого
        .cart-product-list__result-item__value
            | 1000 рублей


.content-footer__container
    include ../btn-buy