.content-head__container
    .content-head__title-wrap
        .content-head__title-wrap__title.bcg-title
            | Игры в разделе action
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.content-main__container
    .products-category__list
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | Batman - Telltale Game Series
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-6.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | Deus Ex: Mankind Divided
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-3.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | The Witcher 3: Wild Hunt
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-1.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | Rocket League
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-7.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | Dishonored 2
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-8.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить
        .products-category__list__item
            .products-category__list__item__title-product
                a(href="#")
                    | This War of Mine
            .products-category__list__item__thumbnail
                a(href="#").products-category__list__item__thumbnail__link
                    img(src='img/cover/game-9.jpg', alt="Preview-image")
            .products-category__list__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn.btn-blue
                    | Купить

.content-footer__container
    include ../pagination