.line
.content-head__container
    .content-head__title-wrap
        .content-head__title-wrap__title.bcg-title
            | Посмотрите наши товары
.content-main__container
    .products-columns
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | The Witcher 3: Wild Hunt
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-1.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Overwatch
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-2.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Deus Ex: Mankind Divided
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-3.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить