.sidebar-item
    .sidebar-item__title
        | Категории
    .sidebar-item__content
        ul.sidebar-category
            li.sidebar-category__item
                a(href="#").sidebar-category__item__link
                    | Action
            li.sidebar-category__item
                a(href="#").sidebar-category__item__link
                    | RPG
            li.sidebar-category__item
                a(href="#").sidebar-category__item__link
                    | Квесты
            li.sidebar-category__item
                a(href="#").sidebar-category__item__link
                    | Онлайн-игры
            li.sidebar-category__item
                a(href="#").sidebar-category__item__link
                    | Стратегии

.sidebar-item
    .sidebar-item__title
        | Последние новости
    .sidebar-item__content
        .sidebar-news
            .sidebar-news__item
                .sidebar-news__item__preview-news
                    img(src='img/cover/game-2.jpg', alt="image-new").sidebar-new__item__preview-new__image
                .sidebar-news__item__title-news
                    a(href="#").sidebar-news__item__title-news__link
                        | О новых играх в режиме VR
            .sidebar-news__item
                .sidebar-news__item__preview-news
                    img(src='img/cover/game-1.jpg', alt="image-new").sidebar-new__item__preview-new__image
                .sidebar-news__item__title-news
                    a(href="#").sidebar-news__item__title-news__link
                        | О новых играх в режиме VR
            .sidebar-news__item
                .sidebar-news__item__preview-news
                    img(src='img/cover/game-4.jpg', alt="image-new").sidebar-new__item__preview-new__image
                .sidebar-news__item__title-news
                    a(href="#").sidebar-news__item__title-news__link
                        | О новых играх в режиме VR
