.content-head__container
    .content-head__title-wrap
       .content-head__title-wrap__title.bcg-title
            | Последние товары
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.content-main__container
    .products-columns
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                        | The Witcher 3: Wild Hunt
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-1.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Overwatch
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-2.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Deus Ex: Mankind Divided
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-3.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | World of WarCraft
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-4.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Call of Duty: Black ops II
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-5.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
        .products-columns__item
            .products-columns__item__title-product
                a(href="#").products-columns__item__title-product__link
                    | Batman
            .products-columns__item__thumbnail
                a(href="#").products-columns__item__thumbnail__link
                    img(src='img/cover/game-6.jpg', alt="Preview-image").products-columns__item__thumbnail__img
            .products-columns__item__description
                span.products-price
                    | 400 руб
                a(href="#").btn.btn-blue
                    | Купить
.content-footer__container
    include ../pagination