.content-head__container
    .content-head__title-wrap
        .content-head__title-wrap__title.bcg-title
            | Новости
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.content-main__container
    .news-list__container
        .news-list__item
            .news-list__item__thumbnail
                img(src="img/news/ps_vr.jpg")
            .news-list__item__content
                .news-list__item__content__news-title
                    | О новых играх в режиме VR
                .news-list__item__content__news-date
                    | 04.12.2016
                .news-list__item__content__news-content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing
                    | elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .news-list__item__content__news-btn-wrap
                a(href="#").btn.btn-brown
                    | Подробнее
        .news-list__item
            .news-list__item__thumbnail
                img(src="img/news/ps4-pro_01.jpg")
            .news-list__item__content
                .news-list__item__content__news-title
                    | О новой PS4 Pro
                .news-list__item__content__news-date
                    | 04.12.2016
                .news-list__item__content__news-content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing
                    | elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .news-list__item__content__news-btn-wrap
                a(href="#").btn.btn-brown
                    | Подробнее